<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>90.8 MHz FMCRS</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="apple-touch-icon" sizes="180x180" href="assets/img/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="assets/img/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="assets/img/favicon/favicon-16x16.png">
    <link rel="manifest" href="assets/img/favicon/site.webmanifest">

    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/media_queries.css">

    <script src="js/bootstrap.js"></script>
    <script src="js/jquery-3.6.0.min.js"></script>
    <script src="js/ajax-utils.js"></script>
    <script src="js/script.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script>
        document.cookie = "AC-C=ac-c;expires=Fri, 31 Dec 9999 23:59:59 GMT;path=/;SameSite=None;";
    </script>
</head>
<body>
    <div id="snippet-adder">
    <div id="home" homeornot="home">
        <nav class="navbar navbar-expand-md navbar-dark">
            <div class="container-fluid px-0">
              <a class="navbar-brand" href="#"><img src="assets/img/logo.png" alt=""></a>
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse flex-row-reverse" id="navbarNav">
                <ul class="navbar-nav text-center align-middle">
                  <li class="nav-item">
                    <a id="hom-link" class="nav-link active" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a id="abt-link" class="nav-link active" href="#">About</a>
                  </li>
                  <li class="nav-item">
                    <a id="prg-link" class="nav-link active" href="/programs">Programs</a>
                  </li>
                  <li class="nav-item">
                    <a id="evn-link" class="nav-link active" href="#">Events</a>
                  </li>
                  <li class="nav-item">
                    <a id="con-link" class="nav-link active" href="#">Contact</a>
                  </li>
                </ul>
              </div>
            </div>
        </nav>
        <div id="home_main">
            <div id="headphone-bg"></div>
            <p id="FM">90.8 MHz FM</p>
            <p id="CR">Community Radio</p>
            <hr id="under-CR">
            <p id="GNDEC">Guru Nanak Dev Engineering College, Ludhiana</p>
        </div>
    </div>
    <div id="event-registration-adder">
    <div id="main-2">
        <div id="main-2-text">
            <h2>ABOUT US</h2>
            <h3>Welcome to our station</h3>
            <hr id="under-aboutus">
            <p>
                The 90.8 FM Community Radio Station of Guru Nanak Dev Engineering College, Ludhiana is an effort to serve society by broadcasting programs pertinent to education, information, entertainment, recreation, public affairs, culture, career guidance sports, etc. FMCRS is a short-range (25Km Radius), not-for-profit radio station or channel that caters to the information needs of students of GNE and people living in Ludhiana city, in the languages and formats that are most adapted to the local context.
            </p>

        </div>
        <div id="main-2-pics">
            <img id="p1" src="assets/img/main-2-1.png" alt="">
            <img id="p2" src="assets/img/main-2-2.png" alt="">
            <img id="p3" src="assets/img/main-2-3.png" alt="">
        </div>
    </div>
    <div id="events-view">
        <h2 class="heading">EVENTS & PROGRAMS</h2>
        <h3 class="sub-heading">We’ve got the most exciting events</h3>
        <hr id="under-events">
        <div class="scene">
            <div class="event-carousel">
                <!-- Event Carousel to be Added -->
            </div>
            <img src="assets/svg/chevron-compact-left.svg" class="bi bi-chevron-compact-left movers" alt="">
            <img src="assets/svg/chevron-compact-right.svg" class="bi bi-chevron-compact-right movers" alt="">
            <div id="indicators-container" style="display: flex; flex-direction: row; justify-content: space-around; width: 100vw;">
                <div class="indicators">
                    <div class="prev-indi"></div>
                    <div class="curr-indi"></div>
                    <div class="next-indi"></div>
                </div>
            </div>
        </div>
        <div style="text-align: center;"><button id="view-all"><a href="#home">VIEW ALL</a></button></div>
    </div>
    <div id="contact-us">
        <h2>CONTACT US</h2>
        <h3>We'd love to hear from you</h3>
        <hr>
        <div id="details">
            <div id="open-hours">
                <div id="op">OPENING HOURS</div>
                <div id="op-details">
                    <p>Monday - Sunday</p>
                    <p>9am - 6pm</p>
                    <!-- <p>Weekend Closed</p> -->
                </div>
            </div>
            <div id="address">
                <div id="ad">ADDRESS</div>
                <div id="ad-details">
                    <p>Guru Nanak Dev Engineering College</p>
                    <p>Ludhiana, Punjab</p>
                    <p>141006</p>
                </div>
            </div>
            <div id="support">
                <div id="sup">SUPPORT</div>
                <div id="sup-details">
                    <p id="fm_email_id">radio @ gndec.ac.in</p>
                    <p>+91 987654321</p>
                    <p>0161 5085039</p>
                </div>
            </div>
        </div>
        <img id="music" src="assets/img/contactus1.png" alt="">
        <img id="call" src="assets/img/contactus2.png" alt="">
    </div>
    </div>
    </div>
    <footer>
        <div class="social-media">
            <div class="logo">
                <img src="assets/img/logo.png" alt="">
            </div>
            <div class="comm-name">90.8MHz FM Community Radio</div>
            <div class="insta-fb-twr">
                <a href="https://www.instagram.com/fmcrsgndec/" target="blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="white" class="bi bi-instagram" viewBox="0 0 16 16">
                    <path d="M8 0C5.829 0 5.556.01 4.703.048 3.85.088 3.269.222 2.76.42a3.917 3.917 0 0 0-1.417.923A3.927 3.927 0 0 0 .42 2.76C.222 3.268.087 3.85.048 4.7.01 5.555 0 5.827 0 8.001c0 2.172.01 2.444.048 3.297.04.852.174 1.433.372 1.942.205.526.478.972.923 1.417.444.445.89.719 1.416.923.51.198 1.09.333 1.942.372C5.555 15.99 5.827 16 8 16s2.444-.01 3.298-.048c.851-.04 1.434-.174 1.943-.372a3.916 3.916 0 0 0 1.416-.923c.445-.445.718-.891.923-1.417.197-.509.332-1.09.372-1.942C15.99 10.445 16 10.173 16 8s-.01-2.445-.048-3.299c-.04-.851-.175-1.433-.372-1.941a3.926 3.926 0 0 0-.923-1.417A3.911 3.911 0 0 0 13.24.42c-.51-.198-1.092-.333-1.943-.372C10.443.01 10.172 0 7.998 0h.003zm-.717 1.442h.718c2.136 0 2.389.007 3.232.046.78.035 1.204.166 1.486.275.373.145.64.319.92.599.28.28.453.546.598.92.11.281.24.705.275 1.485.039.843.047 1.096.047 3.231s-.008 2.389-.047 3.232c-.035.78-.166 1.203-.275 1.485a2.47 2.47 0 0 1-.599.919c-.28.28-.546.453-.92.598-.28.11-.704.24-1.485.276-.843.038-1.096.047-3.232.047s-2.39-.009-3.233-.047c-.78-.036-1.203-.166-1.485-.276a2.478 2.478 0 0 1-.92-.598 2.48 2.48 0 0 1-.6-.92c-.109-.281-.24-.705-.275-1.485-.038-.843-.046-1.096-.046-3.233 0-2.136.008-2.388.046-3.231.036-.78.166-1.204.276-1.486.145-.373.319-.64.599-.92.28-.28.546-.453.92-.598.282-.11.705-.24 1.485-.276.738-.034 1.024-.044 2.515-.045v.002zm4.988 1.328a.96.96 0 1 0 0 1.92.96.96 0 0 0 0-1.92zm-4.27 1.122a4.109 4.109 0 1 0 0 8.217 4.109 4.109 0 0 0 0-8.217zm0 1.441a2.667 2.667 0 1 1 0 5.334 2.667 2.667 0 0 1 0-5.334z"/>
                    </svg>
                </a>
                <a href="https://www.facebook.com/908-MHz-FM-Community-Radio-Station-GNDEC-Ludhiana-102402648854614/" target="blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="white" class="bi bi-facebook" viewBox="0 0 16 16">
                    <path d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z"/>
                    </svg>
                </a>
                <a href="https://www.youtube.com/c/fmcrsgndec" target="blank">
                    <svg xmlns="http://www.w3.org/2000/svg" width="2.5rem" height="2.5rem" fill="white" class="bi bi-youtube" viewBox="0 0 16 16">
                        <path d="M8.051 1.999h.089c.822.003 4.987.033 6.11.335a2.01 2.01 0 0 1 1.415 1.42c.101.38.172.883.22 1.402l.01.104.022.26.008.104c.065.914.073 1.77.074 1.957v.075c-.001.194-.01 1.108-.082 2.06l-.008.105-.009.104c-.05.572-.124 1.14-.235 1.558a2.007 2.007 0 0 1-1.415 1.42c-1.16.312-5.569.334-6.18.335h-.142c-.309 0-1.587-.006-2.927-.052l-.17-.006-.087-.004-.171-.007-.171-.007c-1.11-.049-2.167-.128-2.654-.26a2.007 2.007 0 0 1-1.415-1.419c-.111-.417-.185-.986-.235-1.558L.09 9.82l-.008-.104A31.4 31.4 0 0 1 0 7.68v-.123c.002-.215.01-.958.064-1.778l.007-.103.003-.052.008-.104.022-.26.01-.104c.048-.519.119-1.023.22-1.402a2.007 2.007 0 0 1 1.415-1.42c.487-.13 1.544-.21 2.654-.26l.17-.007.172-.006.086-.003.171-.007A99.788 99.788 0 0 1 7.858 2h.193zM6.4 5.209v4.818l4.157-2.408L6.4 5.209z"/>
                    </svg>
                </a>
            </div>
        </div>
        <div class="tab-links">
            <div><a href="#home" id="f-hom-link">Home</a></div><span class="footer-vertical-bars">|</span>
            <div><a href="#home" id="f-abt-link">About</a></div><span class="footer-vertical-bars">|</span>
            <div><a href="#home" id="f-evn-link">Events</a></div><span class="footer-vertical-bars">|</span>
            <div><a href="/programs" id="f-prg-link">Programs</a></div><span class="footer-vertical-bars">|</span>
            <div><a href="#home" id="f-con-link">Contact</a></div>
        </div>
        <div class="member-form">
            <hr id="footer-above-member-form">
            <p>Become a member</p>
            <form action="/" method="post">
                <input type="email" name="email_id" id="em_id" placeholder="Email Id" required>
                <input type="number" name="phone_number" id="ph_no" placeholder="Phone Number" required>

                <% if (if_success === "true"){ %>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="check-circle-fill" fill="currentColor" viewBox="0 0 16 16">
                      <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
                    </symbol>
                </svg>
                <div class="alert alert-success alert-dismissible fade show d-flex align-items-center" style="width: 90%;" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Success:"><use xlink:href="#check-circle-fill"/></svg>
                      You have subscribed succesfully! Check your mail inbox.
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    document.addEventListener("readystatechange",function(){
                        if (document.readyState=="complete"){
                            swal("Well Done!", "You have subscribed successfully!\nPlease check your mail inbox.", "success");
                        }
                    });
                    
                </script>
                <% } else if (if_success === "false"){ %>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                      </symbol>                    
                </svg>
                <div class="alert alert-danger d-flex align-items-center alert-dismissible fade show" style="width: 90%;" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Danger:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      Sorry, an error occured while processing. Please try again.
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    document.addEventListener("readystatechange",function(){
                        if (document.readyState=="complete"){
                            swal("Sorry!", "You couldn't subscribe to us!\nPlease try again.", "error");
                        }
                    });
                    
                </script>
                <% } else if (if_success === "already registered"){ %>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="info-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
                    </symbol>                    
                </svg>
                <div class="alert alert-primary d-flex align-items-center alert-dismissible fade show" style="width: 90%;" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Info:"><use xlink:href="#info-fill"/></svg>
                    <div>
                      Hey! You have already subscribed.
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                <script>
                    document.addEventListener("readystatechange",function(){
                        if (document.readyState=="complete"){
                            swal("Hey!", "You have already subscribed!\nDon't worry you will be recieving updates 😊", "info");
                        }
                    });
                    
                </script>
                <% } else if (if_success === "invalid data"){ %>
                <svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
                    <symbol id="exclamation-triangle-fill" fill="currentColor" viewBox="0 0 16 16">
                        <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
                    </symbol>                    
                </svg>
                <div class="alert alert-warning d-flex align-items-center alert-dismissible fade show" style="width: 90%;" role="alert">
                    <svg class="bi flex-shrink-0 me-2" width="24" height="24" role="img" aria-label="Warning:"><use xlink:href="#exclamation-triangle-fill"/></svg>
                    <div>
                      Invalid data! Email Id or Phone nummber is Invalid.
                    </div>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                <script>
                    document.addEventListener("readystatechange",function(){
                        if (document.readyState=="complete"){
                            swal("Invalid data", "Email Id or Phone nummber is Invalid.", "warning");
                        }
                    });
                    
                </script>
                <% } %>

                <button type="submit" id="submit-button">SUBMIT</button>
            </form>
        </div>
    </footer>
</body>
</html>